<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://Java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee"
	version="2.5">
	<display-name>project1-team01</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- servlet here (front controller) -->
	<!-- insert when the FrontController is established -->
	<servlet>
		<description></description>
		<display-name>FrontController</display-name>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.revature.web.FrontController</servlet-class>
	</servlet>

	<!-- then servlet-mapping here (FrontController, the servlet, points to 
		different url patterns which we will go to ) -->
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<!-- this should return a json str for dynamic web content-->
		<url-pattern>/login</url-pattern>
		<!-- this should return a json str for dynamic web content-->
		<url-pattern>/employees</url-pattern>
		<url-pattern>/register</url-pattern>
		<url-pattern>/form</url-pattern>
    	<url-pattern>/profile</url-pattern>
		<!-- this should return a json str for dynamic web content-->
    	<url-pattern>/reimbursements</url-pattern>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

</web-app>